$color-green: #94C91F;
$color-blue: #26145E;
$color-bg: #0E0821;
$color-input-bg: #1E1E1E;
$color-white: #ffffff;
$color-muted: #bbbbbb;
*{
    box-sizing: border-box;
}

.page {
    background-color: $color-bg;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo {
    background: $color-white;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.auth {
    background-color: $color-blue;
    padding: 40px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(148, 201, 31, 0.2);
    text-align: center;

&__tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: darken($color-blue, 5%);
    border-radius: 10px;
    overflow: hidden;
}

&__tab {
    flex: 1;
    padding: 12px 0;
    background: none;
    border: none;
    color: $color-white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;

    &--active {
    background-color: $color-green;
    color: #000;
    }
}

&__content {
    position: relative;
}

&__form {
    display: none;
    flex-direction: column;
    gap: 16px;

    &--active {
    display: flex;
    }
}

&__field {
    text-align: left;
}

&__label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: $color-white;
}

&__input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: $color-white;
    border: 1px solid transparent;
    color: $color-input-bg;
    font-size: 14px;

    &:focus {
    outline: none;
    border-color: $color-green;
    }
}

&__button {
    background-color: $color-green;
    color: #000;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
    background-color: lighten($color-green, 10%);
    }
}

&__link {
    display: block;
    margin-top: 12px;
    font-size: 13px;
    color: $color-muted;
    text-decoration: underline;

    &:hover {
    color: $color-green;
    }
}
}
